**Python Coding Excercises**

In [ ]:
#1.1)Write a Python program to evaluate the expression `5 + 3 * 2` and print the result
# Here we are using the arithematical operators addition(+) and multiplication(*)
#the value of the expression is calculated according to BODMAS OF MATHS ,first multiplication then addition

In [ ]:
#ans)
formula=5+3*2
formula

11

In [ ]:
#2. 2) Write a program that calculates the result of `2 ** 3 + 5'
#used the arithemetical operators ** whichbgive the power of a number and + for addition

In [ ]:
#ans)
calculation=2**3+5
print(calculation)

13

In [ ]:
#3. 3) Create a program that calculates the result of the expression `(10 - 3) * (2 +4)'
#used subtraction(-),addition(+),multiplication(*) -arithematical operators

In [ ]:
#ans)
expression=(10-3)*(2+4)
print(expression)

42

In [ ]:
#4. 4)Write a program that calculates `15 // 4` and prints the result
#here floor division(//) arithemetical operator is used-it is used to rounds down to the nearest integer.

In [ ]:
#ans)
expression=15//4
print(expression)

3

In [ ]:
#5. 5) Write a Python code to find the remainder when dividing 15 by 4 (`15 % 4`).
#here we are using the arithemetical operator % which is used for finding the remainder while division

In [ ]:
#ans)
code=15%4
print(code)

3

In [ ]:
#6. 6)Create a variable `x` and assign it the value 42. Print its type using `type()`.
# variables are used to store a value and type function is used to find the type of varaible which may be integer,string list etc

In [ ]:
#ans)
x=42
print(type(x))

<class 'int'>

In [ ]:
#7. 7) Create a list `fruits = ['apple', 'banana', 'cherry']`. Print the type of this list.
#list is a mutable ordered collection of items

In [ ]:
#ans)
fruits=['apple','banana','cherry']
print(type(fruits))

<class 'list'>

In [ ]:
#8. 8)Create a variable `is_active = True`. Print the type of the variable

In [ ]:
#ans)
is_active='True'
print(type(is_active))

<class 'str'>

In [ ]:
#9. 9) Create a variable `price = 3.14`. Print its type.

In [ ]:
#ans)
price=3.14
print(type(price))

<class 'float'>

In [ ]:
#10. 10) Write a program to print the type of the string `'Hello World'`.

In [ ]:
#ans)
word='Hello Word'
print(type(word))

<class 'str'>

In [ ]:
#11. 11) Create a list of your 3 favorite fruits and print it.

In [ ]:
#ans)
fruits=['orange','pineapple','grapes']
print(fruits)

['orange', 'pineapple', 'grapes']

In [ ]:
#12. 12) Convert a tuple `('apple', 'banana', 'cherry')` into a list. Print the new list.
#A tuple in Python is a collection data type that is Ordered,Immutable,Heterogeneous
#list is a mutable ordered collection of items.

In [ ]:
from builtins import *

In [ ]:
tup=('apple','banana','cherry')
new=list(tup)
print(new)

['apple', 'banana', 'cherry']

In [ ]:
#13. 13) Create a list `my_list = [10, 20, 30]`. Access and print the first element of the list
#In list indexing is possible and the index of first element is zero,for second element it is one and so on

In [ ]:
#ans)
my_list=[10,20,30]
print(my_list[0])

10

In [ ]:
#14. 14) Find the length of the list `[10, 20, 30]` and print it.
#len()function is used for finding the length (number of items)

In [ ]:
#ans)
list=[10,20,30]
print(len(list))

3

In [ ]:
#15. 15)Add the element `40` to the list `my_list = [10, 20, 30]` and print the updated list
#append function is used for adding an element into the existing list or tuple

In [ ]:
#ans)
my_list=[10,20,30]
my_list.append(40)
print(my_list)

[10, 20, 30, 40]

In [ ]:
#16. 16) Write a `for` loop to print numbers from 1 to 5.
#we can genrate a sequence of numbers  using range() function.
#A for loop is used to iterate through a sequence like list,-  tuple, or string [iterable], loop continues untill we reach the last number or of item in sequence

In [ ]:
#ans)
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#17. 17) Write a `for` loop that prints numbers from 3 to 5

In [ ]:
#ans)
for i in range(3,6):
  print(i)

3
4
5

In [ ]:
#18. 18) Write a `for` loop to iterate over a list `['apple', 'banana', 'cherry']` and print each element

In [ ]:
#ans)
list=['apple','banana','cherry']
for value in list:
  print(value)

apple
banana
cherry

In [ ]:
#19. 19) Write a `for` loop to print the squares of numbers from 1 to 4

In [ ]:
#ans)
for i in range(1,5):
  print(i*i)

1
4
9
16

In [ ]:
#20. 20) Write a `for` loop that prints `i * 2` for `i` in the range of 5.

In [ ]:
#ans)
for i in range(5):
  print(i*2)

0
2
4
6
8

In [ ]:
#21. 21) Write a `while` loop that prints numbers from 1 to 5
#In while loop, the condition is checked first if it evaluate to true , the body of the loop is executed, otherwise not.   In the loop entered , the process of [conditon executed] is continued until the condition become false .

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
#22. 22) Create a `while` loop that prints the numbers from 0 to 3.

In [ ]:
#ans)
i=0
while i<=3:
  print(i)
  i=i+1

0
1
2
3

In [ ]:
#23.23) Write a `while` loop that calculates and prints the sum of numbers from 1 to 10.

In [ ]:
i=1
total_sum=0
while i<=10:
  total_sum=total_sum+i
  i=i+1
  print(total_sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#24. 24) Create a `while` loop that multiplies numbers from 1 to 4 and prints the result

In [ ]:
#ans)
i=1
product=1
while i<=4:
  product=product*i
  i=i+1
  print(product)

1
2
6
24

In [ ]:
#25.25) Write a `while` loop that prints numbers from 10 to 1, decrementing by 1 each time

In [ ]:
#ans)
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#26. 26) Write a program that checks if a number is positive, negative, or zero

In [ ]:
#ans)
x=float(input('enter a number:'))
if x>0:
  print('x is positive')
elif x<0:
  print('x is negative')
else:
    print('x is zero')

enter a number:7
x is positive

In [ ]:
#27. 27) Write a program that checks if a number is even or odd using `if-else`

In [ ]:
#ans)
number=int(input('enter a number:'))
if number%2==0:
  print('number is even')
else:
    print('number is odd')

enter a number:8
number is even

In [ ]:
#28. 28) Write a program that checks if a number is greater than 10 and prints 'Greater', otherwise prints 'Smaller

In [ ]:
#ans)
number=float(input('enter a number '))
if number>10:
  print('Greater')
else:
   print('Smaller')

enter a number 8
Smaller

In [ ]:
#29. 29) Write a program that prints the grade based on a score: A (90-100), B(70-89), C (50-69), and D (0-49).

In [ ]:
#ans)
score=float(input('enter a score'))
if score >=90 and score<=100:
  print('A Grade')
elif score>=70 and score<=89:
  print('B Grade')
elif score>=50 and score<=69:
  print('C Grade')
else:
    print('D Grade')

In [ ]:
#30.30) Write a program that checks if a number is divisible by 5 and prints'Divisible' or 'Not Divisible'

In [ ]:
#ans)
number=float(input('enter a number:'))
if number %5==0:
  print('Divisible')
else:
  print('Not Divisible')

enter a number:9
Not Divisible

In [ ]:
#31. 31) Write a function `add_numbers(a, b)` that returns the sum of two  numbers
#function is a group of statement performing a specific task
#return allow a function to "return" a result that can then be stored as a variable, or used in whatever mannner user wants.

In [ ]:
#ans)
def add_numbers(a,b):
  return(a+b)

In [ ]:
add_numbers(10,13)

23

In [ ]:
#32. 32) Write a function that takes a string as input and prints it in reverse order

In [ ]:
#ans)
def reversed_string(string):
  reversed_string=string[::-1]
  print(reversed_string)

In [ ]:
reversed_string('police')

In [ ]:
#33. 33) Write a function that returns the maximum of three numbers.
#max function is used for finding the maximum

In [ ]:
#ans)
def maximum(x,y,z):
  return max(x,y,z)

In [ ]:
maximum(10,50,30)

In [ ]:
#34. 34)  Write a function that calculates the factorial of a number using a loop.

In [ ]:
def factorial(n):
  return 1 if (n==0 or n==1)else n*factorial(n-1)

In [ ]:
n= 4
print("The factorial of", n, 'is' ,factorial(n))

The factorial of 4 is 24

In [ ]:
#35. 35) Write a function `multiply(a, b)` that returns the product of two numbers and prints the result.

In [ ]:
#ans)
def multiply(a,b):
  return(a*b)

In [ ]:
multiply(5,6)

In [ ]:
#36. 36) Write a lambda function that adds two numbers and prints the result.
# lambda function is used for quick calculation and for one time.

In [ ]:
#ans)
addition=lambda x,y:x+y
addition(2,3)

In [ ]:
#37. 37) Use a lambda function to square a number and print the result.

In [ ]:
#ans)
square=lambda x:x**2
square(6)

36

In [ ]:
#38. 38) Write a lambda function to find the cube of a number and call it with the value `3`

In [ ]:
cube=lambda x:x**3
value=cube(2)
print(f"The cube of 3 is {value}")

In [ ]:
#39. 39) Write a lambda function that filters even numbers from the list `[1, 2, 3, 4,5, 6]`.
#The filter () function returns an iterator were the items are filtered through a function to test if the item is accepted or not.

In [ ]:
from builtins import *

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0 ,numbers))
print(f"The even numbers are: {even_numbers}")

The even numbers are: [2, 4, 6]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Use filter() with a lambda function to filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Print the result
print(even_numbers)

[2, 4, 6]

In [ ]:
#40. 40) Write a lambda function to check if a number is positive and return `True` or `False`.

In [ ]:
#ans)
function=lambda y: True if y>0 else False
function(-3)

False

In [ ]:
#41. 41) Write a program that multiplies each number in the list `[1, 2, 3, 4]` by 2 using `map()`.
#map () is a built-in function in Python that allows you to process and transform  all the items in an iterable without using a loop.

In [ ]:
#ans)
values=[1,2,3,4]
new_values=list((map(lambda x: x * 2, values)))
print(new_values)

[2, 4, 6, 8]

In [ ]:
#42. 42)Use `map()` to square each number in the list `[1, 2, 3, 4, 5]` and print the result.

In [ ]:
#ans)
values=[1,2,3,4,5]
new_values=list(map(lambda x:x**2,values))
print(new_values)

[1, 4, 9, 16, 25]

In [ ]:
#43. 43) Write a program that uses `map()` to convert a list of strings `['1', '2', '3']` into a list of integers

In [ ]:
#ans)
strings=['1','2','3']
integers=list((map(lambda x:int(x),strings))
print(integers)

In [ ]:
#44. 44) Use `map()` to calculate the square of each element in the list `[1, 4, 9,16]` and print the result

In [ ]:
#ans)
elements=[1,4,9,16]
new_elements=list(map(lambda z:z**2,elements))
print(new_elements)

[1, 16, 81, 256]

In [ ]:
#45. 45) Write a program that uses `map()` to capitalize each word in the list `['hello', 'world']`.

In [ ]:
#ans)
words=['hello','world']
new_words=list(map(lambda x:x.capitalize,words))

In [ ]:
#46. 46) Write a program that uses `filter()` to get only the even numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [ ]:
[1,2,3,4,5,6]
new_items=list(filter(lambda x:x%2==0,[1,2,3,4,5,6]))
print(new_items)

[2, 4, 6]

In [ ]:
#47. 47) Write a program that filters numbers greater than 3 from the list `[1, 2, 3,4, 5]` using `filter()`.

In [506]:
#ans)
number=[1,2,3,4,5]
new_number=list(filter(lambda x:x>3,number))
print(new_number)

[4, 5]

In [512]:
#48.48)Use `filter()` to get all names longer than 3 characters from the list`['Tom', 'Jack', 'Bob', 'Alice']`.

In [513]:
#ans)
names = ['Tom', 'Jack', 'Bob', 'Alice']
filtered_names =list(filter(lambda x:len(x)>3,names))
print(filtered_names)

['Jack', 'Alice']

In [516]:
#49. 49) Write a program that filters out negative numbers from the list `[-1, -2, 3,4, -5]`.

In [517]:
#ans)
numbers = [-1, -2, 3, 4, -5]
positive_numbers = list(filter(lambda x: x >= 0, numbers))
print(positive_numbers)

[3, 4]

In [518]:
#50. 50) Use `filter()` to find all numbers divisible by 3 from the list `[1, 2, 3, 4, 5,6]

In [519]:
#ans)
numbers=[1,2,3,4,5,6]
new_numbers=list(filter(lambda x:x%3==0,numbers))
print(new_numbers)

[3, 6]

In [548]:
#51. 51) Write a program that prints numbers from 1 to 5, but breaks the loop when it reaches 3.
#The Break Statement used to terminate the loop, it is used in loop and swith case.

In [521]:
#ans)
for number in range(1, 6):
    if number == 3:
        break
    print(number)

1
2

In [549]:
#52. 52) Write a program that prints numbers from 1 to 5, but skips 3 using `continue`
#Continue statement is used to continue the next interation in the loop, its only used in loop, keyword "continue" used for continue statement , control remains in the same loop.

In [525]:
#ans)
for number in range(1, 6):
    if number == 3:
        continue
    print(number)

1
2
4
5

In [527]:
#53. 53)Write a program that prints numbers from 1 to 5, but stops when the number is greater than 4 using `break`.

In [528]:
#ans)
for number in range(1, 6):
    if number > 4:
        break
    print(number)

1
2
3
4

In [529]:
#54.54) Write a program that prints all the even numbers from 1 to 10, using `continue` to skip odd numbers

In [530]:
#ans)
for number in range(1, 11):
    if number % 2 != 0:
        continue
    print(number)

2
4
6
8
10

In [531]:
#55. 55) Create a loop that breaks when a negative number is encountered in the list `[1, 2, 3, -1, 4]`

In [532]:
#ans)
numbers = [1, 2, 3, -1, 4]

for number in numbers:
    if number < 0:
        break
    print(number)

1
2
3

In [550]:
#56. 56) Write a program that uses `enumerate()` to print the index and value of each element in the list `['apple', 'banana', 'cherry']`
#enumerate is used for index over a list

In [534]:
#ans)
fruits = ['apple', 'banana', 'cherry']

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [552]:
#57. 57) Write a program to unzip the list of tuples `[(1, 'a'), (2, 'b'), (3, 'c')]` into two separate lists
#unzip is used for seperating elements of two ists

In [538]:
#ans)
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
list1, list2 = zip(*tuples)
list1 = list(list1)
list2 = list(list2)

print("List 1:", list1)
print("List 2:", list2)

List 1: [1, 2, 3]
List 2: ['a', 'b', 'c']

In [551]:
#58. 58) Write a program that zips two lists `['apple', 'banana']` and `[1, 2]` and prints the result.
#zip method use when we join a two list.

In [545]:
#ans)
numbers = [1, 2]

zipped_result = zip(fruits, numbers)

print(list(zipped_result))

[('apple', 1), ('banana', 2)]

In [541]:
#59. 59) Write a program to find the sum of corresponding elements in two lists `a = [1, 2, 3]` and `b = [4, 5, 6]` using `zip()`.

In [543]:
#ans)
a= [1, 2, 3]
b = [4, 5, 6]

# Using zip() to pair corresponding elements from both lists
sum_list = [x + y for x, y in zip(a, b)]

print(sum_list)

[5, 7, 9]

In [546]:
#60. 60) Use `enumerate()` to loop over a list of names and print each name with its index

In [547]:
#ans)
names = ["Anu", "Babu", "Chottu", "David", "Das"]

for index, name in enumerate(names):
    print(f"Index {index}: {name}")

Index 0: Anu
Index 1: Babu
Index 2: Chottu
Index 3: David
Index 4: Das