**KEYWORDS**&**SIMPLE** **EXPRESSIONS**

In [205]:
#1)
#if,for,import,from,true
#if-used to create conditional statements
#for-used to create for loop
#import-used to import python libraries,functions,variables
#from-used to import specific parts of modules
#true-it is a boolean value in python

In [206]:
#2)
length=5
width=10
area=print(length*width)

50

In [207]:
#3)
A=[5,6,7]
B=A
print(A is B)

True

In [208]:
#4)
expression=(5+6)*3-8/4
print(expression)

31.0

In [209]:
#5)
10%3

1

**DATA** **TYPES**

In [210]:
#6)
#3.14 is a float value
value=3.14
print(type(value))

<class 'float'>

In [211]:
#7)
#num=10
#print(type(num))
#print(float(num))

In [212]:
#8)
a='goodmorning'
b='everyone'
add=a+b
print(add)

goodmorningeveryone

In [213]:
#9)
#Data type is boolean
A=3>2
print(type(A))

<class 'bool'>

In [214]:
#10)
string='123'
integer=int(string)
print(integer)

123

**DATA STRUCTURES**

In [215]:
#11)
fruits=['mango','apple','orange','guva','grapes']
print(fruits[2])

orange

In [216]:
#12)
list=[4,6,8]
list.append(5)
print(list)

[4, 6, 8, 5]

In [217]:
#13)
list=[1,2,3]
list.pop()
print(list)

[1, 2]

In [218]:
#14)
#tuple objects doesnot support item assignment
#tuple=(1,2,3,4,5)
#print(tuple[1]=8

In [219]:
#15)
list=[10,20,30,40,50]
a=list[-2:]
print(a)

[40, 50]

In [220]:
#16)
member={'name':'Alice','age':25}
name_value=member['name']
print(name_value)
name_value=member['age']
print(name_value)

Alice
25

In [221]:
#17)
dict={}

In [222]:
#18)
member={'name':'Alice','age':25}
print('name' in member) #this gives true if the key 'name' exists otherwise false

True

In [223]:
#19)
#list is ordered,indexing is possible,duplication is allowed where as set is unordered,duplication is not possible,no duplicates

In [224]:
#20)

print(set([1,2,3,2,1]))

{1, 2, 3}

**BRANCHING**

In [255]:
#21)
number=20
if number>10:
  print('number is greater than 10')

number is greater than 10

In [256]:
#22)
number=-30
if number>0:
  print('number is positive')
else:
  print('number is negative')

number is negative

In [257]:
#23)
number=9
if number>0:
  print('number is positive')
elif number<0:
  print('number is negative')
else:
  print('number is zero')

number is positive

In [258]:
#24)
number=int(input('enter the number'))
if number%2==0:
  print('number is even')
else:
  print('number is odd')

enter the number5
number is odd

In [259]:
#25)
year=int(input('enter the year'))
if year%4==0:
  print('year is leap year')
else:
  print('year is not leap year')

enter the year2020
year is leap year

In [260]:
#26)
number=int(input('enter the number'))
if number>0:
  print('number is positive')
elif number<0:
  print('number is negative')
else:
  print('number is zero')

enter the number5
number is positive

In [261]:
#27)
y=int(input('enter a number'))
if 5<y<10:
  print('number is between 5 and 10')
else:
  print('number is not between 5 and 10')

enter a number5
number is not between 5 and 10

In [262]:
#28)
c=10
if isinstance(c,int):
  print('c is an integer')
else:
  print('c is not an integer')

c is an integer

In [263]:
#29)
grade=int(input('enter the grade:'))
if grade>=60:
  print('pass')
else:
  print('fail')

enter the grade:60
pass

In [264]:
#30)
variable=""
if not variable:
  print('variable is empty')
else:
  print('variable is not empty')

variable is empty

**RANGE** **AND** **FOR** **LOOP**

In [235]:
#31)
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [236]:
#32)
total_sum=0
for i in range(1,21):
    total_sum+=i
    print(total_sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [237]:
#33)
list=['appu','achu','priya','anju','anu']
for i in list:
    print(i)

appu
achu
priya
anju
anu

In [238]:
#34
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [239]:

#35)
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [240]:
#36)
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [241]:
#37)
fruits=['guva','apple','watermelon','grapes','orange','jackfruit']
for i in fruits:
  print(i.upper())

GUVA
APPLE
WATERMELON
GRAPES
ORANGE
JACKFRUIT

In [242]:
#38)
list=['lion','tiger','elephant','monkey','giraffe']
for index,animal in enumerate(list):
  print(index,animal)

0 lion
1 tiger
2 elephant
3 monkey
4 giraffe

In [243]:
#39)
for i in range(0,31,3):
  print(i)

0
3
6
9
12
15
18
21
24
27
30

In [244]:
#40)
number=5
factorial=1
for i in range(1,number+1):
  factorial*=i
  print(factorial)

1
2
6
24
120

**WHILE** **LOOP**

In [245]:
#41)
a=1
while a<=5:
    print(a)
    a+=1

1
2
3
4
5

In [246]:
#42)
password=''
while password !='1234':
  password=input('enter the password')
  print('access granted')

enter the passwordhi
access granted
enter the password1234
access granted

In [247]:
#43)
num=1
total_sum=0
while num<=100:
  total_sum+=num
  num+=1
  print(total_sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [248]:
#44)
number=10
while number>=1:
  print(number)
  number-=1

10
9
8
7
6
5
4
3
2
1

In [249]:
#45)
number=2
while number<=20:
  print(number)
  number+=2

2
4
6
8
10
12
14
16
18
20

In [250]:
#46)
number=1
while number<=100:
  print(number)
  number+=10

1
11
21
31
41
51
61
71
81
91

In [251]:
#47)
list=[1,2,3,4,5]
while list:
  list.pop()
  print(list)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [252]:
#48)
number=10
while number>0:
  print(number)
  number-=1

10
9
8
7
6
5
4
3
2
1

In [253]:
#49)
number=5
count=1
while count<=20:
  print(number)
  number+=5
  count+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [254]:
#50)
fibonacci_series=[0,1]
count=2
while count<20:
  fibonacci_series.append(fibonacci_series[-1]+fibonacci_series[-2])
  count+=1
  print(fibonacci_series)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]